*{

}

body{
    margin: 0;
}
#background{
    width: 100vw;
    height: 100vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(186, 186, 186);
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 150px;  
}